.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 14px;
  font-size: 10px;
  color: #735a3c;
  gap: 4px;
}

.poweredBy {
  opacity: 0.7;
}

.companyName {
  font-weight: 600;
}

.logo {
  height: 10px;
  opacity: 0.9;
  filter: brightness(0) saturate(100%) invert(35%) sepia(12%) saturate(1188%)
    hue-rotate(353deg) brightness(92%) contrast(86%);
  width: auto;
  object-fit: contain;
}
